In [1]:
import re
import requests
import pandas as pd

## Вставь сюда ссылку на теко трибанк, raw

In [2]:
ud = "https://raw.githubusercontent.com/UniversalDependencies/UD_Yakut-YKTDT/dev/sah_yktdt-ud-test.conllu"
f = requests.get(ud)
file = f.text.split("\n")

In [3]:
rege = r"^\d+\t"
lst = []

for line in file:
    if re.match(rege, line):
        lst.append(line)

In [4]:
df = pd.DataFrame([sub.split("\t") for sub in lst])
colnames = ["ID", "WORD", "LEMMA", "POS", "SPOS", "FEATURES", "6", "7", "8", "9"]
df.columns = colnames

In [5]:
df1 = df.drop(["ID", "SPOS", "6", "7", "8", "9", ], axis=1)
df1['WORD'] = df1['WORD'].str.lower()
df1['LEMMA'] = df1['LEMMA'].str.lower()

In [6]:
df1.head()

         WORD   LEMMA   POS                                    FEATURES
0     кинилэр    кини  PRON  Case=Nom|Number=Plur|Person=3|PronType=Prs
1    кэллилэр     кэл  VERB         Number=Plur|Person=3|Tense=NearPast
2  кинигэлэри  кинигэ  NOUN                        Case=Acc|Number=Plur
3         күн     күн  NOUN                        Case=Nom|Number=Sing
4        аайы    аайы   DET                                           _

In [7]:
print("Number of unique lemmas: " + str(len(df1.WORD.unique())))

Number of unique lemmas: 673

In [8]:
print("Number of unique lemmas: " + str(len(df1.LEMMA.unique())))

Number of unique lemmas: 428