In [24]:
import pandas as pd

In [2]:
colnames = ["Word", "Prediction"]
df = pd.read_csv("sah_corpus_results.txt", sep="\t", encoding="utf-8", names = colnames)
df#.head()

            Word                         Prediction
0           диэн                        диэн<CCONJ>
1          уонна                       уонна<CCONJ>
2           киһи  киһи<NOUN><Number=Sing><Case=Nom>
3             бу                            бу<DET>
4             ол             ол<PRON><PronType=Dem>
...          ...                                ...
8745  сымыыттыыр                                 +?
8746    сэмэйдик                                 +?
8747       дьоло                                 +?
8748    билбитин                                 +?
8749     рагынан                                 +?

[8750 rows x 2 columns]

In [3]:
#df['Word'].duplicated()
dup = df[df['Word'].isin(df['Word'][df['Word'].duplicated()])].sort_values("Word")
print("Number of duplicates: " + str(len(dup)))

Number of duplicates: 437

In [4]:
dup.head(15)

           Word                                         Prediction
329        аайы                                          аайы<ADJ>
330        аайы                                          аайы<DET>
6126        аас  аас<VERB><Mood=Imp><Number=Sing><Person=2><Ten...
6127        аас                   аас<NOUN><Number=Sing><Case=Nom>
713      ааспыт  аас<NOUN><Number=Sing><Number[psor]=Plur><Pers...
714      ааспыт  аас<VERB><Number=Sing><Person=3><Tense=PastRes...
4303  ааттаабыт  ааттаа<VERB><Number=Sing><Person=3><Tense=Past...
4302  ааттаабыт    ааттаа<VERB><Number=Plur><Person=1><Tense=Pres>
5515       ааһа              аас<VERB><Tense=Pres><VerbForm=Trans>
5516       ааһа  аас<NOUN><Number=Sing><Number[psor]=Sing><Pers...
5937     айаҕын  айах<NOUN><Number=Sing><Number[psor]=Sing><Per...
5936     айаҕын        ай<VERB><Number=Sing><Person=2><Tense=Pres>
2163      айбыт        ай<VERB><Number=Plur><Person=1><Tense=Pres>
2164      айбыт  ай<VERB><Number=Sing><Person=3><Tense=PastResu...
5538   айылҕата  айылҕа<NOUN><Number=Sing><Number[psor]=Sing><P...

In [5]:
dup['Word'].value_counts().mean()

2.051643192488263

In [6]:
print("Mean number of duplicates: " + str(len(dup)/len(df)))

Mean number of duplicates: 0.04994285714285714

In [7]:
unknown = df[df["Prediction"].str.contains("\+\?")]
print("Number of unknown words in corpus: " + str(len(unknown)))
unknown.head()

Number of unknown words in corpus: 6950

         Word Prediction
28      баран         +?
53     оҥорор         +?
65    бэйэтин         +?
69  сыллаахха         +?
71        ону         +?

## Calculating the coverage

In [8]:
res = ((len(df)-len(unknown))/len(df))*100

print("Transducer coverage: " + str(res))

Transducer coverage: 20.57142857142857

In [9]:
import pandas as pd

colnames = ["Word", "Prediction"]
df = pd.read_csv("sah_corpus_results.txt", sep="\t", encoding="utf-8", names = colnames)

dup = df[df['Word'].isin(df['Word'][df['Word'].duplicated()])].sort_values("Word")
mean_dup = dup['Word'].value_counts().mean()

unknown = df[df["Prediction"].str.contains("\+\?")]
res = ((len(df)-len(unknown))/len(df))*100

print("Corpus length: " + str(len(df)))
print("Number of duplicates: " + str(len(dup)))
print("Mean duplicates per token: " + str(mean_dup))
print("Mean number of duplicates: " + str(len(dup)/len(df)))
print("Number of unknown words in corpus: " + str(len(unknown)))
print("Transducer coverage: " + str(res))

Corpus length: 8750
Number of duplicates: 437
Mean duplicates per token: 2.051643192488263
Mean number of duplicates: 0.04994285714285714
Number of unknown words in corpus: 6950
Transducer coverage: 20.57142857142857

In [33]:
unknown_words = len(unknown) / len(df)
percent = unknown_words * 100
100 - percent

20.57142857142857

## How many features were recognized

In [10]:
df2 = df#.Prediction
df2.Prediction = df2.Prediction.str.replace("^\w*<", "<", regex=True)
df2 = df2[~df2["Prediction"].isin(["+?"])]
df2.head()

    Word                     Prediction
0   диэн                        <CCONJ>
1  уонна                        <CCONJ>
2   киһи  <NOUN><Number=Sing><Case=Nom>
3     бу                          <DET>
4     ол           <PRON><PronType=Dem>

## Most common features

In [19]:
df2.Prediction.value_counts()[:10]

<NOUN><Number=Sing><Case=Nom>                                       231
<NOUN><Number=Sing><Number[psor]=Sing><Person[psor]=3><Case=Nom>    111
<NOUN><Number=Sing><Case=Dat>                                        90
<VERB><Number=Sing><Person=3><Tense=Pres>                            87
<NOUN><Number=Sing><Case=Acc>                                        85
<ADJ>                                                                83
<NOUN><Number=Plur><Case=Nom>                                        70
<VERB><Tense=Pres><VerbForm=Trans>                                   69
<NOUN><Number=Plur><Number[psor]=Sing><Person[psor]=3><Case=Nom>     67
<NOUN><Number=Sing><Number[psor]=Sing><Person[psor]=3><Case=Acc>     59
Name: Prediction, dtype: int64

In [12]:
len(df2.Prediction.unique())

79

In [13]:
#df2.Prediction.unique()

## How many possible features in foma

In [20]:
pairs = pd.read_csv("/Users/tatiana/Documents/Uni/Thesis/yakut_thesis/FST/allpairs.txt",names=["Form", "Word"], sep="\t", encoding="utf-8")
pairs.head()

                                                Form            Word
0              тэтэрээт<NOUN><Number=Sing><Case=Com>    тэтэрээттиин
1     тэтэрээт<NOUN><Number=Sing><Int=Yes><Case=Nom>      тэтэрээтий
2              тэтэрээт<NOUN><Number=Sing><Case=Abl>     тэтэрээттан
3  тэтэрээт<NOUN><Number=Sing><Case=Dat><Nomzr=Ac...   тэтэрээтыахха
4              тэтэрээт<NOUN><Number=Sing><Case=Cmp>  тэтэрээттээҕэр

In [21]:
pairs.Form = pairs.Form.str.replace("^\w*<", "<", regex=True)
pairs.head()

                                          Form            Word
0                <NOUN><Number=Sing><Case=Com>    тэтэрээттиин
1       <NOUN><Number=Sing><Int=Yes><Case=Nom>      тэтэрээтий
2                <NOUN><Number=Sing><Case=Abl>     тэтэрээттан
3  <NOUN><Number=Sing><Case=Dat><Nomzr=Action>   тэтэрээтыахха
4                <NOUN><Number=Sing><Case=Cmp>  тэтэрээттээҕэр

In [22]:
len(pairs.Form.unique())

121

In [23]:
not_in_cp = set(pairs.Form.unique().tolist()) - set(df2.Prediction.unique().tolist())
not_in_cp

{'<AUX><Int=Yes>',
 '<AUX><Number=Plur><Person=1><Tense=Pres>',
 '<NOUN><Number=Plur><Case=Cmp>',
 '<NOUN><Number=Plur><Case=Com>',
 '<NOUN><Number=Plur><Case=Dat><Nomzr=Action>',
 '<NOUN><Number=Plur><Case=Par>',
 '<NOUN><Number=Plur><Int=Yes><Case=Nom>',
 '<NOUN><Number=Plur><Number[psor]=Plur><Person[psor]=2><Case=Nom>',
 '<NOUN><Number=Plur><Number[psor]=Plur><Person[psor]=3><Case=Acc>',
 '<NOUN><Number=Plur><Number[psor]=Plur><Person[psor]=3><Case=Nom>',
 '<NOUN><Number=Plur><Number[psor]=Sing><Person[psor]=1><Case=Acc>',
 '<NOUN><Number=Plur><Number[psor]=Sing><Person[psor]=1><Case=Nom>',
 '<NOUN><Number=Plur><Number[psor]=Sing><Person[psor]=2><Case=Nom>',
 '<NOUN><Number=Plur><Number[psor]=Sing><Person[psor]=3><Case=Dat>',
 '<NOUN><Number=Plur><Number[psor]=Sing><Person[psor]=3><Case=Ins>',
 '<NOUN><Number=Sing><Case=Dat><Nomzr=Action>',
 '<NOUN><Number=Sing><Int=Yes><Case=Nom>',
 '<NOUN><Number=Sing><Nomzr=Action><Case=Dat>',
 '<NOUN><Number=Sing><Number[psor]=Sing><Person[psor]=1><Case=Acc>',
 '<NUM><Case=Acc><NumType=Card>',
 '<PRON><Case=Dat><Number=Plur><Person=2><PronType=Prs>',
 '<PRON><Case=Dat><Number=Sing><Person=2><PronType=Prs>',
 '<PRON><Int=Yes><PronType=Int>',
 '<PROPN><Case=Com>',
 '<VERB><Int=Yes><Number=Plur><Person=3><Tense=Pres>',
 '<VERB><Int=Yes><Number=Sing><Person=3><Tense=Pres>',
 '<VERB><Mood=Imp><Number=Plur><Person=2><Polarity=Neg><Tense=Pres>',
 '<VERB><Mood=Imp><Number=Sing><Person=3><Tense=Pres>',
 '<VERB><Number=Plur><Person=1><Polarity=Neg><Tense=Pres>',
 '<VERB><Number=Plur><Person=1><Tense=Fut>',
 '<VERB><Number=Plur><Person=2><Polarity=Neg><Tense=NearPast>',
 '<VERB><Number=Plur><Person=2><Polarity=Neg><Tense=Pres>',
 '<VERB><Number=Plur><Person=2><Tense=Pres>',
 '<VERB><Number=Plur><Person=3><Tense=Fut>',
 '<VERB><Number=Sing><Person=1><Tense=Fut>',
 '<VERB><Number=Sing><Person=1><Tense=NearPast>',
 '<VERB><Number=Sing><Person=1><Tense=PastPerf>',
 '<VERB><Number=Sing><Person=1><Tense=Pres>',
 '<VERB><Number=Sing><Person=2><Polarity=Neg><Tense=Pres>',
 '<VERB><Number=Sing><Person=2><Tense=Fut>',
 '<VERB><Number=Sing><Person=2><Tense=PastPerf>',
 '<VERB><Number=Sing><Person=3><Tense=Fut>'}

In [18]:
errors_analysis = unknown.sample(n = 100)
errors_analysis.to_csv("Errors2Analyze.tsv", sep="\t", encoding="utf-8", index=False,)

In [28]:
colnames = ["Word", "Error"]
df_errors = pd.read_csv("Errors2Analyze_Res.tsv", sep="\t", encoding="utf-8", names = colnames)
df_errors.Error.value_counts()

Not in lexicon         79
Error in analysis       8
Proper noun             5
Feature not covered     5
Foreign word            3
Name: Error, dtype: int64